////
// Grid >> Global

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16
  display: inline
  float: left
  position: relative
  margin-left: 10px
  margin-right: 10px

////
// Grid >> Children (Alpha ~ First, Omega ~ Last)

.alpha
  margin-left: 0

.omega
  margin-right: 0

////
// Container >> 16 Columns

.container-16
  margin-left: auto
  margin-right: auto
  width: 960px

  // Grid >> 16 Columns

  .grid-1
    width: 40px

  .grid-2
    width: 100px

  .grid-3
    width: 160px

  .grid-4
    width: 220px

  .grid-5
    width: 280px

  .grid-6
    width: 340px

  .grid-7
    width: 400px

  .grid-8
    width: 460px

  .grid-9
    width: 520px

  .grid-10
    width: 580px

  .grid-11
    width: 640px

  .grid-12
    width: 700px

  .grid-13
    width: 760px

  .grid-14
    width: 820px

  .grid-15
    width: 880px

  .grid-16
    width: 940px

  // Prefix Extra Space >> 16 Columns

  .prefix-1
    padding-left: 60px

  .prefix-2
    padding-left: 120px

  .prefix-3
    padding-left: 180px

  .prefix-4
    padding-left: 240px

  .prefix-5
    padding-left: 300px

  .prefix-6
    padding-left: 360px

  .prefix-7
    padding-left: 420px

  .prefix-8
    padding-left: 480px

  .prefix-9
    padding-left: 540px

  .prefix-10
    padding-left: 600px

  .prefix-11
    padding-left: 660px

  .prefix-12
    padding-left: 720px

  .prefix-13
    padding-left: 780px

  .prefix-14
    padding-left: 840px

  .prefix-15
    padding-left: 900px

  // Suffix Extra Space >> 16 Columns

  .suffix-1
    padding-right: 60px

  .suffix-2
    padding-right: 120px

  .suffix-3
    padding-right: 180px

  .suffix-4
    padding-right: 240px

  .suffix-5
    padding-right: 300px

  .suffix-6
    padding-right: 360px

  .suffix-7
    padding-right: 420px

  .suffix-8
    padding-right: 480px

  .suffix-9
    padding-right: 540px

  .suffix-10
    padding-right: 600px

  .suffix-11
    padding-right: 660px

  .suffix-12
    padding-right: 720px

  .suffix-13
    padding-right: 780px

  .suffix-14
    padding-right: 840px

  .suffix-15
    padding-right: 900px

  // Push Extra Space >> 16 Columns

  .push-1
    left: 60px

  .push-2
    left: 120px

  .push-3
    left: 180px

  .push-4
    left: 240px

  .push-5
    left: 300px

  .push-6
    left: 360px

  .push-7
    left: 420px

  .push-8
    left: 480px

  .push-9
    left: 540px

  .push-10
    left: 600px

  .push-11
    left: 660px

  .push-12
    left: 720px

  .push-13
    left: 780px

  .push-14
    left: 840px

  .push-15
    left: 900px

  // Pull Extra Space >> 16 Columns

  .pull-1
    left: -60px

  .pull-2
    left: -120px

  .pull-3
    left: -180px

  .pull-4
    left: -240px

  .pull-5
    left: -300px

  .pull-6
    left: -360px

  .pull-7
    left: -420px

  .pull-8
    left: -480px

  .pull-9
    left: -540px

  .pull-10
    left: -600px

  .pull-11
    left: -660px

  .pull-12
    left: -720px

  .pull-13
    left: -780px

  .pull-14
    left: -840px

  .pull-15
    left: -900px

////
// Container >> 12 Columns

.container-12
  margin-left: auto
  margin-right: auto
  width: 960px

  // Grid >> 12 Columns

  .grid-1
    width: 60px

  .grid-2
    width: 140px

  .grid-3
    width: 220px

  .grid-4
    width: 300px

  .grid-5
    width: 380px

  .grid-6
    width: 460px

  .grid-7
    width: 540px

  .grid-8
    width: 620px

  .grid-9
    width: 700px

  .grid-10
    width: 780px

  .grid-11
    width: 860px

  .grid-12
    width: 940px

  // Prefix Extra Space >> 12 Columns

  .prefix-1
    padding-left: 80px

  .prefix-2
    padding-left: 160px

  .prefix-3
    padding-left: 240px

  .prefix-4
    padding-left: 320px

  .prefix-5
    padding-left: 400px

  .prefix-6
    padding-left: 480px

  .prefix-7
    padding-left: 560px

  .prefix-8
    padding-left: 640px

  .prefix-9
    padding-left: 720px

  .prefix-10
    padding-left: 800px

  .prefix-11
    padding-left: 880px

  // Suffix Extra Space >> 12 Columns

  .suffix-1
    padding-right: 80px

  .suffix-2
    padding-right: 160px

  .suffix-3
    padding-right: 240px

  .suffix-4
    padding-right: 320px

  .suffix-5
    padding-right: 400px

  .suffix-6
    padding-right: 480px

  .suffix-7
    padding-right: 560px

  .suffix-8
    padding-right: 640px

  .suffix-9
    padding-right: 720px

  .suffix-10
    padding-right: 800px

  .suffix-11
    padding-right: 880px

  // Push Extra Space >> 12 Columns

  .push-1
    left: 80px

  .push-2
    left: 160px

  .push-3
    left: 240px

  .push-4
    left: 320px

  .push-5
    left: 400px

  .push-6
    left: 480px

  .push-7
    left: 560px

  .push-8
    left: 640px

  .push-9
    left: 720px

  .push-10
    left: 800px

  .push-11
    left: 880px

  // Pull Extra Space >> 12 Columns

  .pull-1
    left: -80px

  .pull-2
    left: -160px

  .pull-3
    left: -240px

  .pull-4
    left: -320px

  .pull-5
    left: -400px

  .pull-6
    left: -480px

  .pull-7
    left: -560px

  .pull-8
    left: -640px

  .pull-9
    left: -720px

  .pull-10
    left: -800px

  .pull-11
    left: -880px

////
// Clear Floating Elements

// http://sonspring.com/journal/clearing-floats

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

// http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack

.clearfix:after
  clear: both
  content: ' '
  display: block
  font-size: 0
  line-height: 0
  visibility: hidden
  width: 0
  height: 0

* html .clearfix
  height: 1%
